$dark-blue: #495867;
$medium-blue: #8395A2;
$light-blue: #B4CCDE;
$forest-green: #0F3011;
$light-green: #BDC6BE;

$light-text-color: #fff;
$dark-text-color: $forest-green;

$nav-bkpt-width: 57rem;
$nav-bkpt: 'only screen and (min-width: #{$nav-bkpt-width})';

$nav-bar-height-sm: 4rem;
$nav-bar-height-lg: 6rem;

$OSans: 'Open Sans', sans-serif;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    height: $nav-bar-height-sm;
  
    background-color: #495867;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 50;

    @media #{$nav-bkpt} {
        height: $nav-bar-height-lg;
        position: static;
    }

    &__container {
        height: 100%;
        z-index: 0;
        background-color: $dark-blue;
        padding: .5rem;

        @media #{$nav-bkpt} {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }

    &__logo {
        height: 100%;
        width: auto;
        max-width: 80px;
        padding: 2px;

        &-link {
            display: block;
            height: 100%;
            width: 100%;
        }

        &-source {
            display: block;
            height: 100%;
            width: 100%;
        }

        @media #{$nav-bkpt} {
            max-width: 120px;
        }
    }

    &__list {
        display: block;
        height: 200px;
        overflow: auto;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $dark-blue;
        color: #fff;
        width: 100%;
        z-index: -1;
        padding: 1rem;
        list-style: none;
        transform: translateY(-100%);
        transition: transform .3s ease-out;



        &-item {

        }

        &-link {
            padding: .5rem;
            text-decoration: none;
            color: #fff;
            display: block;
            font-family: $OSans;
        }

        &--active {
            transform: translateY(0);
        }

        @media #{$nav-bkpt} {
            position: relative;
            top: auto;
            left: auto;
            transform: none;
            background-color: transparent;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            z-index: 0;
            height: auto;

        }
    }

    &__btn {
        position: absolute;
        right: .5rem;
        top: 50%;
        transform: translateY(-50%);
        height: 55px;
        width: 55px;
        outline: none;
        appearance: none;
        border: none;
        background-color: transparent;

        &-ui {
            transform: translate(-50%, -50%) rotate(0);
            width: 35px;
            height: 3px;
            top: 50%;
            left: 50%;
            transition: transform .2s ease-out;
            display: block;
            border-radius: 1px;
            background: #fff;
            position: absolute;
            &::before {
                transform: translateY(-10px) rotate(0);
            }
            &::after {
                transform: translateY(10px) rotate(0);
            }
            &::after,
            &::before {
                content: "";
                transition: transform .2s ease-out;
                display: block;
                border-radius: 1px;
                background: #fff;
                position: absolute;
                height: 3px;
                width: 100%;
            }

            &--active {
                transform: translate(-50%,-50%) rotate(45deg);
                &::before,
                &::after {
                    transform: translateY(0) rotate(-90deg);
                }
            }
        }

        @media #{$nav-bkpt} {
            display: none;
        }
    }

}

.svg-logo {
    fill: none;
    stroke: #000;
}

.header {
    display: block;
    position: relative;

   height: 20rem;
   width: 100%;

   &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
    top: 0;
    left: 0;

}

    &__image {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;


    }

    &__title {
        position: absolute;
        bottom: .5rem;
        left: .5rem;
        z-index: 10;
        font-size: 2rem;
        color: $light-text-color;
        font-family: $OSans;
    }
}

.footer {
    background-color: $dark-blue;
    padding: 4rem 1rem;

    &__logo {
        max-width: 250px;
        margin: 0 auto;
        padding: 2rem;
    }

    &__content {
        max-width: 57rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        
    }

    &__element {
        flex-basis: 250px;
        flex-grow: 1;
        flex-shrink: 1;
    }
}

.contact-form {
    max-width: 300px;
    margin: 0 auto;
}

.input-group {
    padding: .5rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    &__label {
        font-family: $OSans;
        color: #fff;

    }

    &__input {
        padding: .5rem;
        border: none;
        outline: none;
        font-family: $OSans;
        width: 100%;
        border-radius: 5px;

        &--btn {
            margin-right: 0;
            margin-left: auto;
            width: auto;
            border: none;
            outline: none;
            appearance: none;
            border-radius: 5px;
            background-color: #fff;
        }
    }
}


.section {
    padding: 4rem 1rem;

    &__title {
        color: $dark-text-color;
        font-family: $OSans;
        font-size: 2rem;
        text-align: center;
    }

    &__content {
        max-width: 57rem;
        font-family: $OSans;
        margin: 0 auto;
        
    }
}